<div class="container">
<form  (submit)="CalculateInsurance()" >
    <div class="form-group">
        <label class="fieldlabels">Manufacturer: </label>
        <select class="form-control" name="Manufacturer" [(ngModel)]="manufacturer" (change)="getCars(manufacturer)">
            <option disabled selected>Select Manufacturer</option>
            <option *ngFor="let manu of manufacturers[0]" >{{manu}}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="fieldlabels">Models: </label>
        <select class="form-control"  name="Model" [(ngModel)]="model" >
            <option disabled selected>Select Model</option>
            <option *ngFor="let model of models[0]">{{model}}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="fieldlabels">Purchase Date: </label>
        <input type="date" id="Purchase_Date" class="form-control" name="Purchase_Date"  placeholder="Enter Pusrchase Date"
        />
    </div>
    <!-- <div class="form-group"> 
        <label class="fieldlabels">Insurance Plan: </label><br>                
        <input  type="radio" name="Insurance_Plan" value="Third_Party"  >&nbsp;Third Party &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="Insurance_Plan"  value="Comprehensive" >&nbsp;Comprehensive                
        </div>         -->
        <button type="submit" class="btn btn-info">Submit</button>
</form>
<br><br><br>
<h1>Premium Amount: Rs. {{premium_amt}}</h1>

</div>