<!-- <nav class="navbar navbar-dark bg-dark">   -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">The General Insurance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="spacer"></div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav my-2 my-lg-0" style="margin-left: 30%;">
            
              <a class="nav-link" routerLink="/home">Home</a>
            
            
              <a class="nav-link" href="#">Contact</a>
            
            
              <a class="nav-link" routerLink="/dummy">About Us</a>
            
            
              <a class="nav-link" routerLink="policy-preview">Help</a>
            
            
              <a class="nav-link" href="#">FAQ</a>

              <a class="nav-link" routerLink="/register">Register</a>

              <a class="nav-link" routerLink="/login">Login</a>
            
          </div>
        </div>
      </nav>
  <!-- </nav> -->
  
  
  
