<br>
<div id="content" #content>  
        
      <div style="margin-left: 37%; ">  
        <input type="button" value="Download Policy" (click)="PrintPolicy()"/>  
      </div>  
  </div>  
  <br><br>
  <table id="contentToConvert" style="margin-left: 30%; ">
    <tbody>
        <tr>
            <td colspan="4" style="text-align: center;">The General Insurance - V</td>  
                      
        </tr>
        <tr></tr>
        <tr>
            <td colspan="4" style="text-align: center;">
                Motor Insurance
            </td>
                
        </tr>
    
    
        <tr>
            <td>Policy Number :</td>
            <td></td>
            <td>Policy Start Date :</td>
            <td></td>
        </tr>

        <tr>
            <td>Insured Name :</td>
            <td></td>
            <td>Policy End Date :</td>
            <td></td>
        </tr>
        
        <tr>
            <td>Insured Address :</td>
        </tr>
            <tr>
                <td>Address Line 1</td>
            </tr>
            <tr>
                <td>City :</td>
                <td></td>
                <td>District :</td>
                <td></td>
            </tr>
            <tr>
                <td>State :</td>
                <td></td>
                <td>Pincode :</td>
                <td></td>
            </tr>
            <tr>
                <td>Mobile Number :</td>
                <td></td>                
            </tr>
        <!-- </tr> -->

        <tr>
            <td>Vehicle Details :</td>
        </tr>
            <tr>
                <td>Registration Number :</td>
                <td></td>
                <td>Engine Number :</td>
                <td></td>
            </tr>
            <tr>
                <td>RTA Name :</td>
                <td></td>
                <td>Chassis Number :</td>
                <td></td>
            </tr>
            <tr>
                <td>Purchase Date :</td>
                <td></td>        
                <td>Vehicle Manufacturer:</td>
                <td></td>                
            </tr>
            <tr>
                <td>Vehicle Model :</td>
                <td></td>        
                <td>Cubic Capacity :</td>
                <td></td>                
            </tr>
            <tr>
                <td>Type of Body :</td>
                <td></td>        
                <td>Seating Capacity :</td>
                <td></td>                
            </tr>
        <!-- </tr> -->
        <tr> </tr>
        <tr> </tr>
        <tr>
            <td>Own Damage Premium</td>
        </tr>
        <tr>
            <td>Premium :</td>
            <td></td>
        </tr>
        <tr>
            <td>GST (18%) :</td>
            <td></td>
        </tr>
        <tr>
            <td>Total Amount :</td>
            <td></td>
        </tr>
    </tbody>
  </table>